<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Microgravity</title>
		<link rel="icon" href="/rocket.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&amp;subset=cyrillic,greek,latin-ext&family=Material+Icons"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/styles.css" />
		<script src="https://js.hcaptcha.com/1/api.js&render=explicit" async defer></script>
		<meta
			name="viewport"
			content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, viewport-fit=cover"
		/>
		<meta
			name="description"
			content="Microgravity.io is a free multiplayer IO game for building your civilization in space."
		/>
		<meta
			name="keywords"
			content="game,games,space,asteroids,fun,moomoo,zombs,starve,online,io,multiplayer,free"
		/>

		<!-- Github button -->
		<script async defer src="https://buttons.github.io/buttons.js"></script>
	</head>
	<body>
		<canvas id="gameCanvas"></canvas>

		<div id="ui">
			<div id="mainMenu" class="modal" style="display: none">
				<!-- Center Panel -->
				<div id="menuContent">
					<!-- Game Logo -->
					<img
						id="gameLogo"
						src="/img/menu/menu-logo.png"
						width="500"
						height="500"
						draggable="false"
					/>

					<!-- Join Info -->
					<div id="joinInfo">
						<!-- <input type="text" id="usernameField" maxlength="20" data-prompt-title="Username:" /> -->
						<div id="joinButton" class="button" @click="joinGame" v-t="'join-game'"></div>
						<!-- <div id="joinButton" class="button" @click="joinGame">&#9654;</div> -->
					</div>

					<!-- Customize -->
					<div>
						<div class="itemList" style="margin-top: 15px">
							<div
								v-for="ship in selectableShips"
								@click="selectShip(ship)"
								class="shipPreview"
								:class="{selected:ship.id===selectedShip,locked:isShipLocked(ship)}"
							>
								<div
									class="shipPreviewMask"
									:style="{'--ship-img':`url(${assets.shipUrl(`${ship.id}-mask`)})`, backgroundColor:selectedFill}"
								></div>
								<div
									class="shipPreviewOverlay"
									:style="{backgroundImage:`url(${assets.shipUrl(`${ship.id}-overlay`)})`}"
								></div>

								<div
									v-if="isShipLocked(ship)"
									class="lockedIcon socialIcon large"
									:class="[ship.reward]"
								></div>
							</div>
						</div>
						<div class="itemList" style="margin-top: 15px">
							<div
								v-for="fill in config.shipFills"
								@click="selectedFill=fill.value"
								class="shipColor"
								:style="{backgroundColor:fill.value}"
								:class="{selected:fill.value===selectedFill}"
							></div>
						</div>
					</div>

					<!-- Respawn Tip -->
					<div id="respawnTip"></div>
				</div>

				<!-- Consent -->
				<div id="consentPanel" v-if="showConsent">
					By clicking <b>Join</b>, you consent to our privacy policy and terms of service.
				</div>

				<!-- Kick Timer -->
				<div id="kickWarning" v-if="timeToKick < 20">
					You will be kicked in {{ timeToKick.toFixed(0) }}s unless you join the game.
				</div>

				<!-- Info Panel -->
				<div id="infoPanel">
					<div id="info-titles">
						<h3
							class="translate"
							v-t="'servers-title'"
							:class="{selected: activeMenu == config.activeMenu.INFO}"
							@click="changeActiveMenu(config.activeMenu.INFO)"
						></h3>
						<h3
							class="translate"
							v-t="'friends-title'"
							:class="{selected: activeMenu == config.activeMenu.FRIENDS}"
							@click="changeActiveMenu(config.activeMenu.FRIENDS)"
						></h3>
						<h3
							class="translate"
							v-t="'account-title'"
							:class="{selected: activeMenu == config.activeMenu.ACCOUNT}"
							@click="changeActiveMenu(config.activeMenu.ACCOUNT)"
						></h3>
					</div>
					<div v-show="activeMenu == config.activeMenu.INFO">
						<h3 class="translate" v-t="'game-mode'"></h3>
						<div v-if="gameMode && gameModes" class="buttonList">
							<div
								v-for="gm in gameModes"
								:key="gm.id"
								class="button"
								:class="{disabled: gm.id == gameMode}"
								@click="selectGameMode(gm.id)"
							>
								{{gm.title}}
							</div>
						</div>

						<h3 class="translate" v-t="'region'">Region</h3>
						<div class="buttonList">
							<div
								v-for="r in regions"
								:key="r.id"
								class="button"
								:class="{disabled: r.id == region}"
								@click="selectRegion(r.id)"
							>
								{{r.title}}
							</div>
						</div>

						<h3 class="translate" v-t="'social-title'"></h3>
						<div id="socialContent" style="margin: 10px 0">
							<div class="socialContentItem" @click="clickedSocial('twitter', false)">
								<div class="socialIcon full twitter" style="animation-duration: 1.1s"></div>
								<div class="socialRewardTip">Follow to<br />Unlock Ship</div>
							</div>

							<div class="socialContentItem" @click="clickedSocial('twitch', false)">
								<div class="socialIcon full twitch" style="animation-duration: 1.23s"></div>
								<div class="socialRewardTip">Follow to<br />Unlock Ship</div>
							</div>

							<div class="socialContentItem" @click="clickedSocial('instagram', false)">
								<div class="socialIcon full instagram"></div>
								<div class="socialRewardTip">Follow to<br />Unlock Ship</div>
							</div>

							<div
								class="socialContentItem"
								:class="{hasReward:hasReward('discord')}"
								@click="clickedSocial('discord')"
							>
								<div class="socialIcon full discord" style="animation-duration: 1.47s"></div>
								<div class="socialRewardTip">
									Join for<br />
									<div class="resourceIcon oil"></div>
									<span>1000</span>
									<div class="resourceIcon aluminium"></div>
									<span>1000</span>
									<div class="resourceIcon uranium"></div>
									<span>1000</span>
								</div>
							</div>
						</div>
						<div style="font-style: italic; text-align: center; font-size: 18px">
							Follow and subscribe for exclusive awards.
						</div>

						<h3 class="translate" v-t="'oss-title'"></h3>
						<div
							class="translate"
							style="display: flex; justify-content: center; padding-top: 10px"
						>
							<a
								class="github-button"
								href="https://github.com/rivet-gg/microgravity.io"
								data-color-scheme="no-preference: light; light: light; dark: light;"
								data-icon="octicon-star"
								data-size="large"
								data-show-count="true"
								aria-label="Star rivet-gg/microgravity.io on GitHub"
								>Star on Github</a
							>
						</div>

						<h3 class="translate" v-t="'htp-title'"></h3>
						<div class="translate">
							<div v-html="$t('htp-summary')"></div>
							<div v-html="$t('htp-collect')"></div>
							<div v-html="$t('htp-cities')"></div>
							<div v-html="$t('htp-factories')"></div>
							<div v-html="$t('htp-alliances')"></div>
							<div v-html="$t('htp-planets')"></div>
						</div>

						<h3 v-t="'controls-title'"></h3>
						<div>
							<div v-html="$t('controls-move')"></div>
							<div v-html="$t('controls-aim')"></div>
							<div v-html="$t('controls-fire')"></div>
							<div v-html="$t('controls-boost')"></div>
							<div v-html="$t('controls-chat')"></div>
							<div v-html="$t('controls-weapon')"></div>
							<div v-html="$t('controls-directional-thrust')"></div>
							<div v-html="$t('controls-directional-reverse')"></div>
							<div v-html="$t('controls-alliance')"></div>
							<div v-html="$t('controls-help')"></div>
						</div>

						<h3 v-t="'settings-title'"></h3>
						<div>
							<input type="checkbox" id="muteSetting" /><label
								for="muteSetting"
								v-t="'setting-mute'"
							></label
							><br />
							<input type="checkbox" id="muteAmbientSetting" /><label
								for="muteAmbientSetting"
								v-t="'setting-mute-ambient'"
							></label
							><br />
							<!--<input type="checkbox" id="positionalAudioSetting" /><label for="positionalAudioSetting" v-t="'setting-positional-audio'"></label><br/>-->
							<input type="checkbox" id="nativeResolutionSetting" /><label
								for="nativeResolutionSetting"
								v-t="'setting-native-resolution'"
							></label
							><br />
							<input type="checkbox" id="directionalMovementSetting" /><label
								for="directionalMovementSetting"
								v-t="'setting-directional-movement'"
							></label
							><br />
							<input type="checkbox" id="rssSetting" /><label
								for="rssSetting"
								v-t="'setting-rss'"
							></label
							><br />
							<input type="checkbox" id="fancyPlanetsSetting" /><label
								for="fancyPlanetsSetting"
								v-t="'setting-fancy-planets'"
							></label
							><br />
							<input type="checkbox" id="planetPropsSetting" /><label
								for="planetPropsSetting"
								v-t="'setting-planet-props'"
							></label
							><br />
							<input type="checkbox" id="starsSetting" /><label
								for="starsSetting"
								v-t="'setting-stars'"
							></label
							><br />
							<input type="checkbox" id="spaceDustSetting" /><label
								for="spaceDustSetting"
								v-t="'setting-space-dust'"
							></label
							><br />
							<input type="checkbox" id="fancyExplosionsSetting" /><label
								for="fancyExplosionsSetting"
								v-t="'settings-fancy-explosions'"
							></label
							><br />

							<select id="languageSelector" v-model="i18n.locale">
								<option
									v-for="lang in languages"
									:key="lang.language_id"
									:value="lang.language_id"
								>
									{{ languageData(lang.language_id).name }} &mdash; {{
									lang.percentage.toFixed(1) }}%
								</option>
							</select>

							<div style="text-align: center; font-style: italic">
								Translated using
								<a class="link" href="https://crowdl.io/microgravity/entries" target="_blank"
									>crowdl.io</a
								>
							</div>

							<!--<div id="resetSettingsButton" class="button compact" v-t="'reset-settings-button'"></div>-->
						</div>

						<!--<h3 class="translate" v-t="'cheat-code-title'"></h3>-->
						<!--<div style="display: flex; flex-direction: row; justify-content: center; margin-top: 10px;">-->
						<!--<input id="cheatCodeInput" type="text" style="margin: 0; margin-right: 5px; font-size: 15px;" v-model="cheatCode" />-->
						<!--<div class="button compact" @click="submitCheatCode(cheatCode)">Submit</div>-->
						<!--</div>-->

						<h3 v-t="'info-title'"></h3>
						<div>
							<a class="link" href="/privacy.html" target="_blank" v-t="'privacy'"></a> |
							<a class="link" href="/terms.html" target="_blank" v-t="'terms-of-service'"></a> |
							<a class="link" href="/credits.html" target="_blank" v-t="'credits'"></a>
						</div>

						<div style="margin-top: 10px">&copy; 2022 Rivet Gaming, LLC</div>
					</div>
				</div>

				<!-- Extra Links -->
				<div id="extraLinks">
					<a
						id="shareLobby"
						class="link"
						@click="copyLobbyLink"
						v-t="lobbyLinkJustCopied ? 'lobby-link-copied' : 'lobby-link'"
					></a>
					<div class="separator"></div>
					<a class="link" href="/versions.html" target="_blank">v1.2.0</a>
				</div>
			</div>

			<div id="loadingScreen" class="modal">
				<!-- We keep the text here, since this shows when the script hasn't loaded yet -->
				<h1 v-t="'loading'">Loading...</h1>
			</div>

			<div id="disconnectScreen" class="modal" style="display: none">
				<h1 v-t="'disconnected-title'"></h1>
				<h2 v-t="'disconnected-updating'"></h2>
				<h3 v-t="'disconnected-issue'"></h3>
				<div class="button" onclick="location.reload(true)" v-t="'reload-game'"></div>
			</div>

			<div id="gameOverlay" style="display: none">
				<!-- Controls -->
				<div id="gameControlTip" class="controlTip" v-show="false"></div>

				<!-- Weapons -->
				<div id="weaponDisplay" :style="{'--weapon-index': ownedWeaponIndex}">
					<div
						v-for="weapon in weaponList"
						:key="weapon.id"
						class="weaponItem"
						:class="{selected: weapon.index === selectedWeaponIndex }"
					>
						<div class="weaponIcon" :style="{backgroundImage:`url(${weapon.icon})`}"></div>
						<div class="ammoCount">{{ weapon.ammoCount }}</div>
					</div>
				</div>

				<!-- Right Sidebar -->
				<div id="rightSidebar">
					<div id="leaderboard">
						<div
							v-for="item in leaderboardItems"
							class="leaderboardItem"
							:class="{
								isMine: item.isMine,
							}"
						>
							<div class="leaderboardRank">{{ item.rank }}</div>
							<div
								v-if="item.allianceName"
								class="leaderboardAlliance"
								:style="{color: item.allianceColor}"
							>
								{{ item.allianceName }}
							</div>
                            {{ item.username }}
							<div class="leaderboardScore">{{ Math.floor(item.score) }}</div>
						</div>
					</div>

					<div id="buttonHolder">
						<div class="horizontalButtons">
							<div id="showAllianceButton" class="button compact" v-t="'alliance-title'"></div>
							<div id="showChatButton" class="button compact" v-t="'chat-button'"></div>
							<div id="showHelpButton" class="button compact" v-t="'help-button'"></div>
						</div>

						<div id="joinRequestHolder" style="display: none">
							<h4><span v-t="'join-requests'"></span> (<span id="joinRequestCount"></span>)</h4>
							<div id="joinRequestName"></div>
							<div class="horizontalButtons">
								<div
									id="acceptJoinRequestButton"
									class="button compact"
									v-t="'prompt-accept'"
								></div>
								<div
									id="denyJoinRequestButton"
									class="button compact"
									v-t="'prompt-deny'"
								></div>
							</div>
						</div>
					</div>
				</div>

				<!-- Weapon Switching -->
				<div id="weaponSwitcher" v-if="usingTouch">
					<div class="button compact" @touchstart="changeWeapon(-1)">&lt;</div>
					<div class="button compact" @touchstart="changeWeapon(1)">&gt;</div>
				</div>

				<!-- Speech Recording Indicator -->
				<div id="speechRecordingIndicator" v-if="speechRecording"></div>

				<!-- Command Panel -->
				<div id="commandPanel">
					<div id="structurePanel">
						<h3 id="structurePanelTitle"></h3>
						<div id="structureDetails" class="panelDetails"></div>
					</div>

					<div id="planetPanel">
						<h3 id="planetPanelTitle"></h3>
						<div id="planetDetails" class="panelDetails"></div>
					</div>
				</div>

				<!-- Built Pallet -->
				<div id="buildPallet">
					<!-- Structure Tooltip -->
					<div class="tooltip" v-if="hoveringStructure">
						<div class="tooltipTitle">{{ hoveringStructureData.name }}</div>
						<div class="tooltipSubtitle">
							{{ hoveringStructureData.groupObj.name }} &mdash;
							<resources :values="hoveringStructureData.price" :hide-empty="true"></resources>
							&mdash; ({{ structureCounts[hoveringStructureData.slotIndex] || 0 }}/{{
							hoveringStructureData.limit }})
						</div>
						<!--<div class="tooltipDetails">{{ hoveringStructureData.description }}</div>-->
					</div>

					<!-- Player Upgrade Tooltip -->
					<div class="tooltip" v-if="hoveringPerkData">
						<div class="tooltipTitle" v-t="hoveringPerkData.label"></div>
						<!--<div class="tooltipDetails">Description</div>-->
					</div>

					<!-- Upgrade Items -->
					<div id="upgradeItems" v-if="upgradeOptionsData">
						<div id="upgradeItemsTitle" v-t="'upgrade-items-title'"></div>
						<div class="itemList">
							<div
								v-for="(o, i) in upgradeOptionsData"
								:key="i"
								class="buildPalletItem"
								:class="{planetItem: o.structure && o.structure.planetItem}"
								@click="chooseUpgrade(i)"
								@mouseenter="upgradeMouseEnter(i)"
								@mouseleave="upgradeMouseLeave()"
								@touchstart="upgradeMouseEnter(i)"
								@touchend="upgradeMouseLeave()"
							>
								<div
									v-if="o.icon"
									class="buildPalletItemIcon"
									:style="{backgroundImage:`url(${o.icon})`}"
								></div>
								<div v-else-if="o.label">{{ utils.romanNumerals(i+1) }}</div>
							</div>
						</div>
					</div>

					<!-- Level Info -->
					<div id="rankInfo">
						<div class="rankNumber" style="text-align: right">{{ rank + 1 }}</div>
						<div id="rankBar">
							<div
								id="rankBarInner"
								:style="{width: `${(rankProgress*100).toFixed(2)}%`}"
							></div>
						</div>
						<div class="rankNumber" style="text-align: left">{{ rank + 2 }}</div>
					</div>

					<!-- Build Items -->
					<div class="itemList">
						<div
							v-for="s in buildableStructures"
							:key="s.id"
							class="buildPalletItem"
							:class="{planetItem: s.planetItem}"
							@click="purchaseStructure(s.id)"
							@mouseenter="buildMouseEnter(s.id)"
							@mouseleave="buildMouseLeave()"
							@touchstart="buildMouseEnter(s.id)"
							@touchend="buildMouseLeave()"
						>
							<div
								class="buildPalletItemIcon"
								:style="{backgroundImage:`url(${s.icon})`}"
							></div>
						</div>
					</div>
				</div>
			</div>

			<!-- Alliances -->
			<div id="alliances" class="modal" style="display: none">
				<h1 v-t="'alliance-title'"></h1>
				<div id="allianceList"></div>
				<div id="createAllianceHolder">
					<h3 v-t="'create-alliance-title'"></h3>
					<div id="createAllianceContainer">
						<input
							id="allianceNameInput"
							type="text"
							placeholder="Name..."
							maxlength="5"
							data-prompt-title="Alliance Name:"
						/>
						<div id="createAllianceButton" class="button" v-t="'create-button'"></div>
					</div>
				</div>

				<div id="leaveAllianceButton" class="button" v-t="'leave-alliance-button'"></div>

				<div id="dismissAlliances" class="button compact dismissButton" v-t="'dismiss-button'"></div>
			</div>

			<!-- Chat Box -->
			<input type="text" id="chatBox" maxlength="50" style="display: none" />

			<!-- Help -->
			<div id="helpOverlay" class="modal" style="display: none">
				<div id="helpOverlayBox">
					<h1 v-t="'help-title'"></h1>

					<h3 class="translate" v-t="'htp-title'"></h3>
					<div class="translate">
						<div v-html="$t('htp-summary')"></div>
						<div v-html="$t('htp-collect')"></div>
						<div v-html="$t('htp-cities')"></div>
						<div v-html="$t('htp-factories')"></div>
						<div v-html="$t('htp-alliances')"></div>
						<div v-html="$t('htp-planets')"></div>
					</div>

					<h3 v-t="'controls-title'"></h3>
					<div>
						<div v-html="$t('controls-move')"></div>
						<div v-html="$t('controls-aim')"></div>
						<div v-html="$t('controls-fire')"></div>
						<div v-html="$t('controls-boost')"></div>
						<div v-html="$t('controls-chat')"></div>
						<div v-html="$t('controls-weapon')"></div>
						<div v-html="$t('controls-directional-thrust')"></div>
						<div v-html="$t('controls-directional-reverse')"></div>
						<div v-html="$t('controls-alliance')"></div>
						<div v-html="$t('controls-help')"></div>
					</div>

					<div class="controlTip"></div>

					<div id="dismissHelp" class="button compact dismissButton" v-t="'dismiss-button'"></div>
				</div>
			</div>
		</div>

		<div id="hCaptcha"></div>

		<!-- Script will be appended here -->
	</body>
</html>
